/* first swiper start */
main > div.first-swiper-container {
  width: 100%;
  height: 400px;
}
main > div.first-swiper-container .swiper {
  width: 100%;
  height: 100%;
}
main > div.first-swiper-container .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div.first-swiper-container .swiper-slide > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
main > div.first-swiper-container .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* first swiper end */

/* second swiper start */
main > div.body-container > div.second-swiper-container {
  width: 100%;
  height: 300px;
}
main > div.body-container > div.second-swiper-container .swiper {
  width: 100%;
  height: 100%;
  background-color: #ef394e;
  padding: 20px 2px;
  margin-top: 24px;
  border-radius: 20px;
}
main
  > div.body-container
  > div.second-swiper-container
  > div.swiper
  > div.swiper-wrapper
  > div.starter {
  background-color: #ef394e !important;
  padding: 0 !important;
}
main
  > div.body-container
  > div.second-swiper-container
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a.swiper-starter {
  width: 150px;
  height: 230px;
  margin: 0 20px !important;
}
main
  > div.body-container
  > div.second-swiper-container
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a.swiper-starter
  > div.starter-title {
  width: 100%;
  text-align: center;
}
main
  > div.body-container
  > div.second-swiper-container
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a.swiper-starter
  > div.starter-title
  > img {
  width: 92px;
  height: 77px;
}
main
  > div.body-container
  > div.second-swiper-container
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a.swiper-starter
  > div.starter-img {
  width: inherit;
  text-align: center;
  margin: 0 auto;
}
main
  > div.body-container
  > div.second-swiper-container
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a.swiper-starter
  > div.starter-img
  > img {
  width: 120px;
  height: 120px;
}
main
  > div.body-container
  > div.second-swiper-container
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a.swiper-starter
  > div.starter-more {
  color: whitesmoke;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
main
  > div.body-container
  > div.second-swiper-container
  > div.swiper
  > div.swiper-wrapper
  > div.swiper-slide {
  width: 180px;
  height: 260px;
  font-size: 18px;
  background: #fff;
  display: inline-block;
  /* display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; */
}
main > div.body-container > div.second-swiper-container .swiper-slide > a {
  display: block;
  width: 100%;
  height: 260px;
  padding: 12px 16px;
  text-decoration: none;
  color: var(--font-color-dark);
}

main > div.body-container > div.second-swiper-container .swiper-slide img {
  display: block;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin: 0 auto;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.price-container {
  margin-top: 10px;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.price-container
  > div.discount {
  width: 34px;
  height: 20px;
  display: inline-block;
  padding: 0 4px;
  border-radius: 16px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  background-color: #ef394e;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.price-container
  > div.price {
  display: inline-block;
  position: relative;
  left: -50px;
  font-size: 15px;
  font-weight: bold;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.price-container
  > div.currency {
  display: inline-block;
  text-align: left;
  position: relative;
  left: -50px;
  top: 2px;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.price-container
  > div.currency
  > img {
  width: 16px;
  height: 16px;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.pre-price {
  color: #c0c2c5;
  position: relative;
  left: -100px;
  font-weight: bold;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a.last-slide {
  display: block;
  padding: 70px 50px;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.end-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 1px #19bfd3;
  text-align: center;
  line-height: 55px;
  margin: 0 auto;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.end-icon
  > i {
  color: #19bfd3;
  font-size: 15px;
  text-align: right;
}
main
  > div.body-container
  > div.second-swiper-container
  .swiper-slide
  > a
  > div.end-title {
  color: var(--font-color-dark);
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
/* second swiper end */
