/* story start */
main > div.story-container {
  width: 100%;
  height: 150px;
  text-align: center;
}
main > div.story-container > div.stories {
  display: inline-block;
  width: auto;
  height: 140px;
}
main > div.story-container > div.stories > div.story-item {
  width: auto;
  height: inherit;
  display: inline-block;
  margin: 20px 40px;
  object-fit: contain;
}
main > div.story-container > div.stories > div.story-item > a {
  display: inline-block;
  width: 75px;
  height: auto;
  text-decoration: none;
  text-align: center;
  justify-content: center;
}
main > div.story-container > div.stories > div.story-item > a > img {
  width: 75px;
  height: 75px;
  display: inline-block;
  border-radius: 50%;
  border: solid 3px red;
  padding: 4px;
}
main > div.story-container > div.stories > div.story-item > a > p {
  width: auto;
  height: 20%;
  position: relative;
  top: -10px;
  font-weight: bold;
  color: #333333;
}
/* story end */
/* support button start */
main > div.support {
  width: 50px;
  height: 50px;
  background-color: var(--themered);
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 68;
  margin: 50px;
  border-radius: 50%;
  cursor: pointer;
}
main > div.support > span {
  width: inherit;
  height: inherit;
  font-size: 25px;
  color: whitesmoke;
  position: absolute;
  right: 12px;
  top: 12px;
}
/* support button end */
main > div.body-container {
  width: 90%;
  padding: 0 16px;
  margin: 0 auto;
}
/* service start */
main > div.body-container > div.service-container {
  width: 100%;
  margin-top: 24px;
  text-align: center;
  padding: 8px 12px;
}
main > div.body-container > div.service-container > div.service-item {
  display: inline-block;
  width: 12%;
  vertical-align: center;
}
main
  > div.body-container
  > div.service-container
  > div.service-item
  > a
  > div.more {
  display: inline-block;
  position: relative;
  width: 54px;
  height: 54px;
  margin: 0 auto;
  border-radius: 50%;
  background-color: #e0e0e2;
}
main
  > div.body-container
  > div.service-container
  > div.service-item
  > a
  > div.more
  > i {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 26px;
  color: #a1a3a8;
}
main > div.body-container > div.service-container > div.service-item > a {
  display: inline-block;
  width: 100%;
  height: auto;
  text-align: center;
  text-decoration: none;
}
main > div.body-container > div.service-container > div.service-item > a > img {
  width: 60px;
  height: 60px;
  display: inline-block;
  padding: 4px;
  margin: 0 auto;
}
main > div.body-container > div.service-container > div.service-item > a > p {
  width: inherit;
  position: relative;
  top: -10px;
  color: #333333;
}
/* service end */
/* supermarket start */
main > div.body-container > div.supermarket-container {
  display: block;
  margin-top: 8px;
  position: relative;
}
main > div.body-container > div.supermarket-container > a {
  width: 100%;
  height: 110px;
  padding: 0 40px;
  text-decoration: none;
  position: relative;
  background: url(../../Images/supermarket-bg.svg) left center no-repeat;
  background-size: contain;
  background-color: #f0f0f1;
  border-radius: 16px;
  display: inline-flex;
  flex-flow: row nowrap;
  align-content: flex-start;
  justify-content: space-between;
}
main > div.body-container > div.supermarket-container > a > div.market-bgcolor {
  width: inherit;
  height: inherit;
  display: block;
  border-radius: 16px;
  background: linear-gradient(
    -73deg,
    rgba(47, 138, 1, 0.1) 0,
    rgba(242, 242, 242, 0) 100%
  );
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  opacity: 0.3;
}
main
  > div.body-container
  > div.supermarket-container
  > a
  > div.supermarket-start {
  width: 100%;
  height: 110px;
  display: inline-flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
main
  > div.body-container
  > div.supermarket-container
  > a
  > div.supermarket-start
  > div.supermarket-discount {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  background-color: #39ae00;
  border-radius: 16px;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
}
main
  > div.body-container
  > div.supermarket-container
  > a
  > div.supermarket-start
  > div.supermarket-items {
  width: 60%;
  height: 110px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
main
  > div.body-container
  > div.supermarket-container
  > a
  > div.supermarket-start
  > div.supermarket-items
  > div.space {
  width: 100px;
}
main
  > div.body-container
  > div.supermarket-container
  > a
  > div.supermarket-start
  > div.supermarket-items
  > div {
  width: 74px;
  height: 74px;
  margin: 0px 0px 16px 8px;
  padding: 8px;
  position: relative;
}
main
  > div.body-container
  > div.supermarket-container
  > a
  > div.supermarket-start
  > div.supermarket-items
  > div
  > img {
  width: 74px;
  height: 74px;
  border-radius: 50%;
}
main
  > div.body-container
  > div.supermarket-container
  > a
  > div.supermarket-start
  > div.supermarket-items
  > div
  > div.discount {
  width: 34px;
  height: 20px;
  line-height: 20px;
  display: inline-block;
  padding: 0 4px;
  border-radius: 16px;
  text-align: center;
  color: whitesmoke;
  font-weight: bold;
  background-color: #ef394e;
  position: absolute;
  top: 65px;
}
main
  > div.body-container
  > div.supermarket-container
  > a
  > div.supermarket-start
  > div.supermarket-items
  > div.supermarket-more {
  width: 150px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  padding: 12px 20px;
  margin-right: 10px;
  margin-top: 20px;
  color: #39ae00;
  font-weight: bold;
}
/* supermarket end */

/* banners start */
main > div.body-container > div.banner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-top: 24px;
  width: 100%;
  height: auto;
}
main > div.body-container > div.banner-container > a {
  display: inline-block;
  height: inherit;
}
main > div.body-container > div.banner-container > a > div.banner-item {
  width: auto;
  height: inherit;
}
main > div.body-container > div.banner-container > a > div.banner-item > img {
  width: inherit;
  height: 242px;
  object-fit: contain;
  border-radius: 16px;
}
/* banners end */

/* categories start */
main > div.body-container > div.category-container {
  width: 100%;
  height: 436px;
  padding: 16px;
  padding-bottom: 40px;
  margin-top: 24px;
}
main > div.body-container > div.category-container > div.category-title {
  margin-bottom: 36px;
  text-align: center;
}
main > div.body-container > div.category-container > div.category-title > p {
  font-size: 20px;
}
main > div.body-container > div.category-container > div.category-items {
  display: flex;
  width: 100%;
  height: 300px;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
}
main
  > div.body-container
  > div.category-container
  > div.category-items
  > div.item {
  display: inline-block;
  width: 186px;
  height: 134px;
  text-align: center;
}
main
  > div.body-container
  > div.category-container
  > div.category-items
  > div.item
  > a {
  display: inline-block;
  width: inherit;
  height: inherit;
  text-decoration: none;
}
main
  > div.body-container
  > div.category-container
  > div.category-items
  > div.item
  > a
  > img {
  object-fit: contain;
  width: 100px;
  height: 100px;
}
main
  > div.body-container
  > div.category-container
  > div.category-items
  > div.item
  > a
  > p {
  font-weight: bold;
  color: var(--font-color-dark);
}
/* categories end */

/* discounts start */
main > div.body-container > div.discount-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: auto;
  margin-top: 24px;
}
main > div.body-container > div.discount-container > div.discount-item {
  display: inline-block;
  width: auto;
  height: inherit;
}
main > div.body-container > div.discount-container > div.discount-item > a {
  display: inline-block;
  width: 100%;
  height: 100%;
}
main
  > div.body-container
  > div.discount-container
  > div.discount-item
  > a
  > img {
  width: 660px;
  height: 264px;
  border-radius: 16px;
  object-fit: contain;
}
/* discounts end */

/* recommend start */
main > div.body-container > div.recommend-container {
  width: 100%;
  height: auto;
  margin-top: 24px;
}
main > div.body-container > div.recommend-container > div.recommend-title {
  padding: 16px;
  text-align: center;
}
main > div.body-container > div.recommend-container > div.recommend-title > p {
  font-size: 20px;
}
main > div.body-container > div.recommend-container > div.item-container {
  width: 100%;
  height: auto;
  margin-top: 8px;
  border: solid 0.8px var(--border);
  border-radius: 16px;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around;
}
main
  > div.body-container
  > div.recommend-container
  > div.item-container
  > div.recommend-items {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
main
  > div.body-container
  > div.recommend-container
  > div.item-container
  > div.recommend-items
  > a {
  display: inline-block;
  width: 190px;
  height: 154px;
  text-decoration: none;
}
main
  > div.body-container
  > div.recommend-container
  > div.item-container
  > div.recommend-items
  > a
  > div.item {
  width: 100%;
  height: 100%;
  padding: 16px 4px;
  border-left: solid 0.8px var(--border);
  border-bottom: solid 0.8px var(--border);
}
main
  > div.body-container
  > div.recommend-container
  > div.item-container
  > div.recommend-items.second-row
  > a
  > div.item {
  border-bottom: none;
}
main
  > div.body-container
  > div.recommend-container
  > div.item-container
  > div.recommend-items
  > a
  > div.item
  > div.round {
  width: 84px;
  height: 84px;
  border-radius: 50%;
  padding: 12px;
  background-color: #f0f0f1;
  margin: 0 auto;
}
main
  > div.body-container
  > div.recommend-container
  > div.item-container
  > div.recommend-items
  > a
  > div.item
  > div.round
  > img {
  width: 60px;
  height: 60px;
  object-fit: contain;
  mix-blend-mode: multiply;
}
main
  > div.body-container
  > div.recommend-container
  > div.item-container
  > div.recommend-items
  > a
  > div.item
  > p {
  text-align: center;
  height: 30px;
  margin-top: 8px;
  font-size: 14px;
  color: var(--font-color-dark);
}

/* recommend end */

/* brands start */
main > div.body-container > div.brand-container {
  width: 100%;
  height: 224px;
  margin-top: 24px;
  border: solid 0.8px var(--border);
  border-radius: 16px;
  overflow: hidden;
}
main > div.body-container > div.brand-container > div.brand-title {
  padding: 16px;
  text-align: center;
}
main > div.body-container > div.brand-container > div.brand-title > p {
  font-size: 20px;
  display: inline-block;
}
main > div.body-container > div.brand-container > div.brand-title > span > i {
  color: #f9bc00;
  font-size: 20px;
  margin: 5px;
}
main > div.body-container > div.brand-container > div.brand-swiper {
  width: 100%;
  height: 100%;
}
main
  > div.body-container
  > div.brand-container
  > div.brand-swiper
  > div.swiper-wrapper {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 118px;
}
main
  > div.body-container
  > div.brand-container
  > div.brand-swiper
  > div.swiper-wrapper
  > div.swiper-slide {
  width: 142px;
  height: 100%;
  position: relative;
  font-size: 18px;
  border-left: solid 1px var(--border);
  /* background: #fff; */
}
main
  > div.body-container
  > div.brand-container
  > div.brand-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a {
  display: inline-block;
  width: 110px;
  height: 110px;
  padding: 4px 16px;
}
main
  > div.body-container
  > div.brand-container
  > div.brand-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  img {
  display: block;
  width: 110px;
  height: 110px;
  object-fit: contain;
}
/* brands end */

/* first products */
main > div.body-container > div.product-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  border: solid 0.8px var(--border);
  border-radius: 16px;
  margin-top: 24px;
  overflow: hidden;
}
main > div.body-container > div.product-container > div.product-col {
  width: 25%;
  height: inherit;
  padding: 8px 20px;
  border-left: solid 0.8px var(--border);
}
main
  > div.body-container
  > div.product-container
  > div.product-col
  > div.product-title {
  width: 100%;
  height: 65px;
}
main
  > div.body-container
  > div.product-container
  > div.product-col
  > div.product-title
  > p.title {
  color: var(--font-color-dark);
  font-size: 16px;
  font-weight: bold;
}
main
  > div.body-container
  > div.product-container
  > div.product-col
  > div.product-title
  > p.subtitle {
  color: var(--font-color-light);
  font-size: 12px;
}
main
  > div.body-container
  > div.product-container
  > div.product-col
  > div.products {
  display: grid;
  grid-template-columns: 146px 146px;
}
main
  > div.body-container
  > div.product-container
  > div.product-col
  > div.products
  > a {
  display: inline-block;
  width: 146px;
  height: 146px;
  padding: 8px;
  border-left: solid 0.8px var(--border);
  border-bottom: solid 0.8px var(--border);
}
main
  > div.body-container
  > div.product-container
  > div.product-col
  > div.products
  > a
  > img {
  width: 130px;
  height: 130px;
  object-fit: contain;
}
main
  > div.body-container
  > div.product-container
  > div.product-col
  > div.watch-more {
  color: #19bfd3;
  text-align: center;
  padding: 8px;
}
/* first products end */

/* digiplus start */
main > div.body-container > div.digiplus-container {
  width: 100%;
  height: 387px;
  padding: 16px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-radius: 16px;
  background-color: #941b80;
  margin-top: 24px;
}
main > div.body-container > div.digiplus-container > div.digiplus-starter {
  width: 34%;
  padding-top: 24px;
  margin-left: 12px;
  background: url(../../Images/digiplus-bg.png) no-repeat left bottom;
  background-size: 372px 279px;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-starter
  > div.header {
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  margin-right: 24px;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-starter
  > div.header
  p {
  color: white;
  font-size: 14px;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-starter
  > div.header
  i {
  margin-right: 5px;
  font-size: 14px;
  font-weight: bold;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-starter
  > div.header
  > a {
  display: block;
  width: 105px;
  height: 35px;
  padding: 4px 16px;
  margin-top: 12px;
  border: solid 0.8px white;
  border-radius: 8px;
  text-decoration: none;
}
main > div.body-container > div.digiplus-container > div.digiplus-items {
  width: 65%;
  background-color: white;
  border-radius: 8px;
  padding: 0 16px;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-items
  > div.title {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 16px 0;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-items
  > div.title
  > p.delivery {
  font-size: 16px;
  color: var(--font-color-dark);
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-items
  > div.title
  > p.delivery
  > i {
  font-size: 20px;
  margin-left: 5px;
  color: #941b80;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-items
  > div.title
  > p.all {
  color: #941b80;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-items
  > div.items {
  display: grid;
  justify-content: space-between;
  align-content: space-between;
  height: 280px;
  padding-bottom: 20px;
  grid-template-columns: repeat(6, 116px);
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-items
  > div.items
  > a {
  display: block;
}
main
  > div.body-container
  > div.digiplus-container
  > div.digiplus-items
  > div.items
  > a
  > img {
  width: 116px;
  height: 116px;
}
/* digiplus end */

/* digiclub start */
main > div.body-container > div.digiclub-container {
  width: 100%;
  height: 87px;
  margin-top: 24px;
  padding: 12px 16px;
  border-radius: 16px;
  background: linear-gradient(76.02deg, #35a6c8 33.32%, #007295 71.55%),
    radial-gradient(21.29% 87.33% at 50% 50.67%, #7cf2f6 0, #35a6c8 100%);
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  justify-content: space-between;
}
main > div.body-container > div.digiclub-container > div.logo {
  width: 143px;
  height: 33px;
}
main > div.body-container > div.digiclub-container > div.logo > a {
  margin-right: 24px;
  width: 119px;
  height: 33px;
}
main > div.body-container > div.digiclub-container > div.logo > a > img {
  display: inline-block;
  width: 119px;
  height: 33px;
  object-fit: contain;
  margin-top: 17px;
}
main > div.body-container > div.digiclub-container > div.digiclub-items {
  width: 812px;
  height: 62px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
main > div.body-container > div.digiclub-container > div.digiclub-items > a {
  display: inline-block;
  /* width: 273px; */
  height: inherit;
  background-color: white;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
}
main
  > div.body-container
  > div.digiclub-container
  > div.digiclub-items
  > a
  > div.title {
  display: inline-block;
  margin-right: 16px;
}
main
  > div.body-container
  > div.digiclub-container
  > div.digiclub-items
  > a
  > div.title
  i {
  color: #19bfd3;
  font-size: 14px;
}
main
  > div.body-container
  > div.digiclub-container
  > div.digiclub-items
  > a
  > div.title
  > p {
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
  color: var(--font-color-dark);
}
main
  > div.body-container
  > div.digiclub-container
  > div.digiclub-items
  > a
  > img {
  width: 168px;
  height: 60px;
  object-fit: cover;
  object-position: center;
  display: inline-block;
}
.right-radius {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}
.left-radius {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
/* digiclub end */

/* best seller start */
main > div.body-container > div.bestseller-container {
  width: 100%;
  height: 403px;
  margin-top: 24px;
  padding: 16px 0;
  border: solid 0.8px var(--border);
  border-radius: 16px;
  overflow: hidden;
}
main > div.body-container > div.bestseller-container > div.bestseller-title {
  height: 44px;
  text-align: center;
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-title
  > p.title {
  display: inline-block;
  font-size: 20px;
  color: var(--font-color-dark);
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-title
  > p.title
  i {
  color: #f9bc00;
  font-size: 20px;
  margin-left: 5px;
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-title
  > p.all {
  display: inline-block;
  position: relative;
  left: -510px;
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-title
  > p.all
  > a {
  display: inline-block;
  text-decoration: none;
  font-size: 16px;
  color: #19bfd3;
}
main > div.body-container > div.bestseller-container > div.bestseller-swiper {
  width: 100%;
  height: 98%;
  padding: 12px;
}

main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-swiper
  > div.swiper-wrapper
  > div.swiper-slide {
  text-align: center;
  font-size: 18px;
  width: 314px;
  background: #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-items: center;
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  text-decoration: none;
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a
  > div.img {
  width: 86px;
  height: 86px;
  margin-left: 12px;
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a
  > div.img
  > img {
  width: inherit;
  height: inherit;
  object-fit: contain;
  margin-left: 12px;
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a
  > span.number {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 2.4rem;
  font-weight: bold;
  color: #19bfd3;
  margin-left: 12px;
  vertical-align: middle;
  width: 8px;
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a
  > div.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  width: 197px;
  height: 86px;
  border-bottom: solid 0.8px var(--border);
}
main
  > div.body-container
  > div.bestseller-container
  > div.bestseller-swiper
  > div.swiper-wrapper
  > div.swiper-slide
  > a
  > div.name
  > p {
  text-align: right;
  color: var(--font-color-dark);
  padding-right: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* best  seller end */
