@font-face {
  font-family: iranyekan;
  src: url(./IRANYekanWeb.ttf);
}
@font-face {
  font-family: iranyekan;
  src: url(./IRANYekanWeb.woff);
}
@font-face {
  font-family: iranyekan;
  src: url(./IRANYekanWeb.woff2);
}
@font-face {
  font-family: iranyekan;
  src: url(./IRANYekanWeb.eot);
}
