@import url(./Fonts/Font.css);
@import url(./Header/header.css);
@import url(./Wrapper/wrapper.css);
@import url(./Footer/footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranyekan;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2.17;
}
