*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: iranyekan;
  font-size: 0.86rem;
  font-weight: 400;
  line-height: 2.17;
}
:root {
  --font-color-light: #62666d;
  --font-color-dark: #424750;
  --themered: #EF4056;
  --lowopacity: rgba(63, 64, 100, 0.41);
  /* banner */
}
::-webkit-scrollbar{
  width: 8px;
}

::-webkit-scrollbar-track{
background-color: #f1f2f4;
}

::-webkit-scrollbar-thumb{
  background-color: #c3c3ce;
border-radius: 10px;
}